$background: #414349;
$white: #f8f9fa;
$blue: #00aeef;
$green: #8ece63;
$green_darker: #7bb355;
$green_lighter: #9ce16d;
$black: #34353a;
$footer: #9fa2a4;
$divider: #eaebf0;
$blue_darker: #009fdb;

::selection {
  background: rgba(0,0,0,0.05);
}

html {
	overflow-y: scroll;
}

body {
	background: $background;
	font-family: 'Avenir', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $white;
	font-weight: 300;
	margin-top: 50px;
}
.container {

	width: 960px;
	margin: 0 auto;

	.header {
		-webkit-animation-duration: 1s;
  		-webkit-animation-delay: .2s;
		a.blog_title {
			font-size: 50px;
			line-height: 57px;
			font-weight: 400;
			background: url('/theme/img/logo.svg') no-repeat;
			background-size: 78px 68px;
			padding-left: 100px;
			color: $white;
			letter-spacing: 1.5px;
		}
		.right {
			font-size: 24px;
			float:right;
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			li {
				display: inline;
				margin-right:10px;
				a {
					line-height: 57px;
					border: 2px solid $white;
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 6px;
					padding-bottom: 6px;
					border-radius: 5px;
					font-weight: 100;
					text-decoration: none;
					color: $white;
					transition: all .5s ease-in-out;
				}
				a:hover {
					background: $white;
					color: $background;
				}

			}
			li:last-child {
				margin-right: 0px;
			}
		}
		margin-bottom: 50px;
	}

	.content {
		color: $black;

		background: $white;
		padding: 50px;
		padding-bottom: 35px;
		border-radius: 5px;

		a {
			color: $blue;
			text-decoration: none;
		}
		.heading {
			padding-bottom: 10px;
		}
		.me {
			background: url('/theme/img/me.png') no-repeat -12px -20px;
			background-size:156px;
			width: 126px;
			height: 126px;
			border-radius: 999px;
			border: 3px solid $background;
			display: inline-block;
			float:left;
		}
		.about-blurb {
			display: inline-block;
			width: 705px;
			float:left;
			padding-left: 20px;
		}
		.about {
			border-top: 5px solid $divider;
			padding-top: 20px;
		}
		.hero {
			margin-top: -30px;
			text-align: center;
			h1 {
				font-size: 70px;
				line-height: 25px;
			}
			h2 {
				font-size: 32px;
				font-weight: 100;
			}
			a {
				text-decoration: none;
				color:$white;
				font-size: 34px;
				line-height: 107px;
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 25px;
				padding-bottom: 25px;
				border-radius: 5px;
				background-color: $green;
				box-shadow: 0 5px $green_darker;
				transition: all .5s ease-in-out;
			}
			a:hover {
				background-color: $green_lighter;
			}

			margin-bottom: 0px;
			padding-bottom: 35px;
			border-bottom: 5px solid $divider;
		}
		.bottom {
			margin-top: 30px;
			display: inline-block;
			width:100%;
			.posts {
				text-align: center;
				float:left;
				padding-bottom: 20px;
				width: 50%;
				border-right: 5px solid $divider;

				a.home_title {
					color: $blue;
					font-size: 20px;
					text-decoration: none;
					transition: all .5s ease-in-out;
				}
				a:hover {
					color: $blue_darker;
				}
				.post {
					border: none;
				}
			}
			.social {
				text-align: center;
				width: 49.4%;
				float:right;
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						color: $blue;
						font-size: 20px;

						a {
							color: $blue;
							font-size: 20px;
							text-decoration: none;
						}
					}
				}
			}
		}
		.work {
			border-top: 5px solid $divider;
			.work-link {
				color: $blue;
				font-size: 20px;
				text-decoration: none;
				font-weight: 500;
			}
			.work-blurb {
				font-weight: 200;
				color: $background;
			}
		}
	}
	.credits {
		color: $footer;
		margin-top: 20px;
		width: 960px;
		text-align: center;

		-webkit-animation-duration: 1s;
  		-webkit-animation-delay: .3s;

		#streak {
			color: $green;
		}
	}
	.divider {
		border-top: 5px solid $divider;
		margin-top: 10px;
		margin-bottom: 14px;
	}
}

.clearfix {
	clear: both;
}
pre {
	word-wrap: break-word;
}
.post_body code{
	 word-wrap: break-word;background-color: rgba(0,0,0,0.03); border: 1px solid rgba(0,0,0,0.08) !important; border-radius:5px; padding:3px !important;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; word-wrap: break-word;background-color: rgba(0,0,0,0.03); border: 1px solid rgba(0,0,0,0.08) !important; border-radius:5px; padding:10px !important; }
.pln {
  color: #cccccc;
}

@media screen {
  .str {
    color: #99cc99;
  }

  .kwd {
    color: #cc99cc;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #6699cc;
  }

  .lit {
    color: #f99157;
  }

  .pun {
    color: #cccccc;
  }

  .opn {
    color: #cccccc;
  }

  .clo {
    color: #cccccc;
  }

  .tag {
    color: #f2777a;
  }

  .atn {
    color: #f99157;
  }

  .atv {
    color: #66cccc;
  }

  .dec {
    color: #f99157;
  }

  .var {
    color: #f2777a;
  }

  .fun {
    color: #6699cc;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
