body {
	background: #AAAAAA;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,0.8);
	text-shadow:0 1px rgba(0,0,0,0.3);
	font-size: 16px;
	font-weight: 300;
}
.container {
	width: 720px;
	margin: 0 auto;
}
b {
	font-weight: 400;
}
.header {
	width: 100%;
	height: 50px;
	padding: 10px;
}
.blog_title {
	font-size: 32px;
	font-weight:600;
	color: rgba(0,0,0,0.6);
	text-shadow:0 1px rgba(255,255,255,0.3);	
}
.blog_description {
	font-weight:200;
}
.content {
	width: 700px;
	background: rgba(0,0,0,0.09);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 5px;
	padding:10px;
}
.credits {
	width:100%;
	font-size:12px;
	font-weight:200;
	text-align: center;
}
#disqus_thread {
	padding:10px;
}
a {
	color: rgba(0,0,0,0.6);
	text-shadow:0 1px rgba(255,255,255,0.2);
	text-decoration: none;
}
a:hover {
	color: rgba(0,0,0,0.5);
}
.post .home_title {
	color: rgba(0,0,0,0.4);
}
.post {
	width:100%;
	margin-bottom:10px;
}
.post:last-child {
	margin-bottom:0px;
}
.post .date {
	font-weight: 200;
	font-size:11px;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px rgba(255,255,255,0.2);
}
.post .title {
	font-size:20px;
	margin-right:5px;
	font-weight: 500;
}
.post .post_content {
	font-weight: 200;
	font-size:14px;
}
.divider {
    border: 0;
    height: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.post_body .divider {
    border: 0;
    height: 0;
    border-top: 2px dotted rgba(0, 0, 0, 0.2);
}

.post_body {
	background:#fcfaf2;
}
.post_body .blog_title {
	color: #c90707;

	display:inline-block;
    border-bottom:3px solid #c90707;
    padding-bottom:2px;
    margin-bottom: 10px;
}
.post_body .content {
	background: transparent;
	border: 0;
	color: #666;
	font-family: 'PT Serif', serif;
	line-height: 24px;
	text-shadow: none;
	padding:10px;
}
.post_body .header {
	padding:10px;
	text-align:center;
}
.post_body p {
	text-indent: 1.5em;
}
.post_body .title {
	font-weight: bold;
	color: rgba(0,0,0,0.9);
}
.post_body a {
	color: #c90707;
	text-decoration: underline;
}
.show_comments {
	cursor: pointer;
	color: #c90707;
	text-decoration: underline;
}
.post_body .credits {
	color: #888;
	text-shadow: none;
}
.post_body h1, .post_body h2, .post_body h3, .post_body h4, .post_body h5 {
	display:inline-block;
    border-bottom:2px dotted rgba(0,0,0,0.2);
    padding-bottom:2px;
    margin-bottom:0;
    margin-top:0;
    width:100%;
}
pre {
	word-wrap: break-word;
} 
.post_body code{
	 word-wrap: break-word;background-color: rgba(0,0,0,0.03); border: 1px solid rgba(0,0,0,0.08) !important; border-radius:5px; padding:3px !important;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; word-wrap: break-word;background-color: rgba(0,0,0,0.03); border: 1px solid rgba(0,0,0,0.08) !important; border-radius:5px; padding:10px !important; }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #666 }    /* punctuation */
pre .pln { color: #666 }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}